# Python virtual environment
venv/
.env

# VSCode
.vscode/

# Cache
__pycache__/
*.pyc
.cache/
.claude/
.docker/
.npm/
.ollama/

# OS files
.DS_Store
Thumbs.db

# model files, model can be downloaded at https://huggingface.co/Norm11/qwen2.5-3b-grpo-hotpotqa/tree/main
model/

# training files and data
# training model https://huggingface.co/Norm11/qwen2.5-3b-sft-grpo-hotpotqa_v2/
# training data https://huggingface.co/datasets/Norm11/qwen2.5-3b-sft-grpo-hotpotqa-dataset/tree/main/data
training/checkpoints
training/data
training/query_lora/checkpoints/
training/query_lora/data/
logs/